* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-body);
    font-size: 18px;
    line-height: 1.5;
    scroll-behavior: smooth;
    color: $text-color;
}

section {
    max-width: $page-width;
    margin: 0 auto;
    padding: 3rem 1rem;
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    line-height: 1.25;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    font-weight: 600;
    color: $primary;

    &.link {
        font-weight: bold;
        text-decoration: underline;
    }

    &:hover:not(.navigation__links a:hover) {
        color: lighten($primary, 20%);
    }
}

p:nth-child(n+2) {
    margin-top: 0.75rem;
}

button, select, option, input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

button {
    font-weight: bold;
}

img {
    display: block;
}