// Colors

$primary: #004A98;
$accent: #C2D5ED;
$gradient: linear-gradient(135deg, rgba(0,74,152,1) 20%, #C2D5ED 100%);
$text-color: #001E3E;
$yellow: #FFD12D;
$orange: #ff8b2d;

// Spacing

$page-width: calc(1350px + 1rem);
$page-width-narrow: calc($page-width - 400px);