.button {
    padding: 0.75rem 1rem;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transform: scale(1);
    transition: transform .1s 0s;

    &:active {
        transform: scale(0.95);
    }
}

.button.button--primary {
    background-color: $primary;
    color: white;

    &:hover {
        background-color: lighten($primary, 20%);
    }
}

.arrow-link {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0.25rem;

    svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        transition: all .3s;
    }

    .label {
        transition: all .3s;
        transform: translateX(0px);
        display: block;
    }

    &:hover {
        svg {
            transform: translate(0%, -50%); 
        }

        .label {
            transform: translateX(32px);
        }
    }
}