* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-body);
    font-size: 18px;
    line-height: 1.5;
    scroll-behavior: smooth;
    color: $text-color;
}

section {
    max-width: $page-width;
    margin: 0 auto;
    padding: 3rem 1rem;

    &.narrow {
        max-width: $page-width-narrow;
    }
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    line-height: 1.25;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

@media screen and (max-width: 1279px) {
    h1 {
        font-size: 2rem!important;
    }
}

a {
    font-weight: 600;
    color: $primary;

    &.link {
        font-weight: bold;
        text-decoration: underline;
    }

    &:hover:not(.navigation__links a:hover) {
        color: lighten($primary, 20%);
    }
}

p:nth-child(n+2) {
    margin-top: 0.75rem;
}

button, select, option, input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

option {
    font-family: sans-serif;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

select, option, input, textarea {
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    background-color: $accent;
    width: 100%;

    &:active, &:focus {
        outline: 2px solid $primary;
    }
}

button {
    font-weight: bold;
}

img {
    display: block;
}