.navigation-wrapper {
    padding: 1rem 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 92rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.navigation__logo {
    width: 10rem;
}

.navigation__links {
    display: flex;
    list-style-type: none;
    gap: 1rem;

    li {
        transition: transform .1s;

        &:active {
            transform: scale(0.9);
        }
    }

    li a {
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;

        &:hover, &:focus {
            background-color: $accent;
        }
    }
}

.navigation__burger {
    display: none;
    padding: 0.5rem;
}

@media screen and (min-width: 1024px) and (max-width: 1079px) {
    .navigation__links {
        gap: 0;
    }
}

@media screen and (max-width: 1023px) {

    .navigation-wrapper {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        background-color: white;
    }

    .navigation-wrapper + * {
        margin-top: 108px;
    }

    .navigation__links {
        position: absolute;
        flex-direction: column;
        background-color: white;
        padding: 2rem 0.5rem;
        z-index: 10;
        width: 100%;
        top: 6rem;
        transition: all .5s;

        &.is-open {
            left: 0;
            box-shadow: 0 1rem 1rem rgba($color: black, $alpha: 0.2);
        }

        &.is-closed {
            left: 100%;
            box-shadow: 0 1rem 1rem rgba($color: black, $alpha: 0);
        }
    }

    .navigation__burger {
        display: block;
    }
}