.navigation-wrapper {
    padding: 1rem 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 92rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.navigation__logo {
    width: 10rem;
}

.navigation__links {
    display: flex;
    list-style-type: none;
    gap: 1rem;

    li {
        transition: transform .1s;

        &:active {
            transform: scale(0.9);
        }
    }

    li a {
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;

        &:hover, &:focus {
            background-color: $accent;
        }
    }
}